
 body {
  
  overflow-x: hidden;
}


.logo_mobile{
  background: white;
  height: 70%;
  margin-bottom: 45px;
   margin: 35px 30px 70px 40px;
   display: block;
   cursor: pointer;
     z-index: 709;
     -webkit-animation: slide-in-blurred-top 1.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
     animation: slide-in-blurred-top 1.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;

}
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
























.footer{
  
 
  text-align: center;
  align-items: center;
  color: #e2e1e1;
  
  font-size: 12px;
}

li{

  -webkit-animation: flip-in-hor-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.9s both;
  animation: flip-in-hor-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.9s both;

}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}





.list1b{
  margin: 70px auto 40px 90px;
  display: block;
  font-size: 22px;
  color:#817e7f;
  font-weight: 600;
  list-style-type: none;
  cursor: pointer;
}

.list2b{
  margin: 60px auto 40px 90px;
  display: block;
  font-size: 20px;
  color:#8d8c8d;
  font-weight: 600;
  list-style-type: none;
}



#menue{
  padding-top: 120px;
  width:100%;
  height: 100%;
  position: fixed;
  z-index: 2000;
  background:white;
  top:-10px;
  align-items: center;
  -webkit-animation: menueani 0.8s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
	        animation: menueani 0.8s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
}


@-webkit-keyframes menueani {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes menueani {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}










.bar{
  z-index: 2100;
  position: fixed;
  left:80%;
  top:5%;
  color: #d79d02;
  
}
.barb{
  z-index: 2100;
  position: fixed;
  left:80%;
  top:5%;
  color: #d79d02;
  display:none;
  -webkit-animation: barbani 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: barbani  0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  
}
@-webkit-keyframes barbani {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes barbani {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}


.title{
  
  position: absolute;
  left: -28%;
  
  
}
.imagedetail{
-webkit-animation: rotate-in-2-cw 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: rotate-in-2-cw 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
width: 90%;
border: 2px solid rgb(248, 248, 248);
border-radius: 4px;
padding: 5px;
-webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
  }

  @-webkit-keyframes rotate-in-2-cw {
    0% {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
  }
  @keyframes rotate-in-2-cw {
    0% {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
  }
  





.detail{
  
  margin: 30px auto;
    display: inline-block;
    padding: 3px;
}
.khan{
    
  margin: 20px auto;
    display: inline-block;
    padding: 3px;
   
}


.imgkhan {
 width: 80%;
 -webkit-animation: imgkhan_anim 1.3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
          animation: imgkhan_anim 1.3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
 border: 1px solid rgb(248, 248, 248);
 border-radius: 4px;
 padding: 5px;
 margin-bottom: 8px;
  }

  @-webkit-keyframes imgkhan_anim {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes simgkhan_anim {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  

#mobile_header{
    height: 200px;
    align-items: center;
   
    z-index: 709;
}






    a:link {
        color:#adaaab;
      }
      
      a:visited {
        color:#adaaab;
      }
      
      a:focus {
        color:#adaaab;
      }
      
      a:hover {
        color:#a70341;
        text-decoration:none; 
          
      }
      
      a:active {
        color:#adaaab;
        
      }





















.slide{
    background: #E3E2DF;
    height: 100%;
   position: fixed;
   z-index: 999;
   -webkit-animation: slideani 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slideani 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
   
}


@-webkit-keyframes slideani  {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideani {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
#main{
  
  text-align: center;
  align-items: center;
}

 






p{
    width: 100%;
    overflow: hidden;
    font-size: 13px;
    color:#adaaab;
    padding-left: 5px;
}
.mobileslide{
    display: none;
}
.case{

   
}


.logo{
   
    margin: 50px auto 20px;
    display: block;
    cursor: pointer;
    -webkit-animation: logo_anim 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: logo_anim 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;


}
@-webkit-keyframes logo_anim {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes logo_anim{
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}



.list1{
    margin: 50px auto 40px 30px;
    display: block;
    font-size: 15px;
    color:#adaaab;
    font-weight: 600;
    list-style-type: none;
    cursor: pointer;
}

.list2{
    margin: 50px auto 40px 30px;
    display: block;
    font-size: 13px;
    color:#adaaab;
    font-weight: 600;
    list-style-type: none;
}