<html lang="en">
<head>
        {% block title %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DonworkS :: Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/js.js' %}"></script>
</head>



<div id="menue">

        <ol class="list1b">
                                           
                          
                <li><a href="{% url 'home' %}">Portfolio</a></li>
                <li><a href="{% url 'illustrations' %}">Illustration</a></li>
                <li><a href="{% url 'Portraits' %}">Portraits</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
               
               
           </ol>
           <ol class="list2b">
              
                   <li>Twitter</li>
                   <li>Facebook</li>
                   <li>Instagram</li>
                   <li>LikedIn</li>
                   
                   
               </ol>



</div>

<div class="container-fluid">
        <div id="mobile_header" > 
                <img class="logo_mobile"  src={% static "images/logo.png" %}> 
                <div class="bar" id="bar"><i class="fa fa-bars" style="font-size:48px;"></i></div>
                <div class="barb" id="barb"><i class="fa fa-bars" style="font-size:48px;"></i></div>                       </div>
           </div>
        <div class="row">
               
            <div class="col-sm-3 px-1  bg-light" id="slide">
                <div class="py-2 sticky-top flex-grow-1">
                    <div class="nav flex-sm-column">
                       
                        <img class="logo" style="height: 20%;" src={% static "images/logo.png" %}>      

                        <ol class="list1">
                                           
                                <li><a href="{% url 'home' %}">Portfolio</a></li>
                               <li><a href="{% url 'illustrations' %}">Illustration</a></li>
                               <li><a href="{% url 'Portraits' %}">Portraits</a></li>
                               <li><a href="{% url 'contact' %}">Contact</a></li>
                               <li><a href="{% url 'about' %}">About</a></li>
                               
                               
                           </ol>
                           <ol class="list2">
                              
                                   <li>Twitter</li>
                                   <li>Facebook</li>
                                   <li>Instagram</li>
                                   <li>LikedIn</li>
                                   
                                   
                               </ol>
                               <div class="footer">
                                    Copyright © All rights reserved.<br>
                               Home made by <a class="by" href="https://www.mgzar.com/">Mortada Gzar </a>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12" id="mainc"></div>
                   
               
                    
                                       
                                                
                                                        <div class=" col-lg-5 col-md-5 col-sm-12 formc">                                               
                                                        <p class="contactp">If you are looking for an illustrator or simply would like to ask me a question, feel free to contact me or my agent directly.

                                                                zach.e.meyer@gmail.com   phone: 847-219-3233</p>
                                                        <form action="" method="post" class="form-group">
                                                       {% csrf_token %}
                                                
                                                        <input class="form-control" type="text" placeholder="subject " name="form.subject">
                                                        <input class="form-control"  type="email" placeholder="Your email address" name="form.from_email ">
                                                        <textarea class="form-control" cols="40"  name="form.message" rows="10" required></textarea>
                                                        <input type="submit" class="btn btn-warning butt" value="Send">

                                                            
                                                        </form>
                                                    </div> 

                                        
                                     <div class="col-lg-1 col-md-1 col-sm-12" id="mainc"></div>
                                    
                    
                    
                    
                    


            </div>


        </div>
        

    </div>

    {% endblock %}












