<html lang="en">
<head>
        {% block title %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DonworkS :: Portfolio | About</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/js.js' %}"></script>
</head>
<body>
       <div class="bar" id="bar"><i class="fa fa-bars" style="font-size:48px;"></i></div>
                <div class="row">
                        
                  <div class="col-lg-3 slide" id="slide" >
                        <div class="case">
                                <img class="logo" style="height: 20%;" src={% static "images/logo.png" %}>                        </div>
                                            <ol class="list1">
                                           
                                                    <li><a href="{% url 'index' %}">About</a></li>
                                                    <li>Illustration</li>
                                                    <li>Portraits</li>
                                                    <li>Contact</li>
                                                    <li><a href="{% url 'about' %}">About</a></li>
                                            
                                        </ol>
                                        <ol class="list2">
                                           
                                                <li>Twitter</li>
                                                <li>Facebook</li>
                                                <li>Instagram</li>
                                                <li>LikedIn</li>
                                                
                                                
                                            </ol>
                    
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-lg-3 "></div>
                        <div class="col-lg-9 galery">
                            
                                <div class="post">
                                        {% if post %}
                                            <div class="date">
                                                {{ post.title }}
                                                <img class="imagedetail" src="{{ post.picture.url }}" alt="img">
                                            </div>
                                        {% endif %}
                                        <h2>{{ post.title }}</h2>
                                      
                                    </div>
                            
                         </div>

                  </div>
                  
                 </div>
                </div>
                





    </body>
    {% endblock %}